html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.nav-link {
  color: wheat;
}

.nav-item>a:hover {
  color: whitesmoke;
  border-bottom: 2px solid yellow;
}

/*code to change background color*/
.navbar-nav>.active>a {
  /* background-color: #C0C0C0; */
  border-bottom: 2px solid yellow;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.marginTopPage {
  margin-top: 5em;
}