@{
    ViewData["Title"] = "Home Page";
}

<div class="row marginTopPage">
    <div class="col-lg-4 offset-lg-1">
        <img
            src="~/pictures/homepage.jpeg"
            class="img-fluid rounded-top"
            alt="homepage picture"
        />
    </div>
    <div class="col-lg-6">
        <h2 class="text-center text-primary">Ontdek de digitale wereld, met je smartphone of computer</h2>
        <div class="border-top bg-primary border-danger border-3 m-2"></div>
        <h3 class="text-center text-secondary">Hier leren we senioren en 50+ vaardigheden die ze nodig hebben om in de digitale wereld mee te kunnen.</h3>
    </div>
</div>
<div class="row mt-4">
    <div class="col-lg-5 offset-lg-1">  
        <h4 class="text-primary">Leren begint bij ons</h4>
        <h6 class="text-secondary">Bij ons staat de cursist centraal en we geven les op het niveau van senioren. Een rustig tempo, herhaling en een eenvoudige voorstelling zijn bij ons het motto.</h6>
    </div>
    <div class="col-lg-5">
        <div class="border-top bg-primary border-danger border-2 mb-2"></div>


        <h6 class="text-secondary">Absolute beginners zonder enige informatica voorkennis zijn bij ons meer dan welkom. Wij geven advies in verband met aankoop en onderhoud van uw toestel.</h6>
    </div>
</div>
